.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    width: 100%;

    @media (min-width: $desktop) {
        width: $desktop;
    }

    &.big {
        @media (min-width: $desktop-l) {
            width: $desktop-l;
        }
    }

    &.fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .row {
        flex: 1;
        display: flex;

        &.wrap {
            flex-wrap: wrap;
        }

        &.justify-end {
            justify-content: flex-end;
        }

        &.justify-between {
            justify-content: space-between;
        }

        &.justify-center {
            justify-content: center;
        }

        &.align-center {
            align-items: center;
        }

        @for $i from 1 through 13 {
            $width: percentage($i / 12);

            .col-#{$i} {
                width: $width;
                flex-basis: $width;
            }
        }
    }
}

@media (max-width: $tablet) {
    .container {
        padding-left: 10px;
        padding-right: 10px;

        .row {
            display: block;

            [class*=col] {
                width: 100%;
                margin: 15px 0;

                &+[class*=col] {}
            }
        }
    }
}
