@import "reset";
@import "vars";
@import "mixins";
@import "grid";
@import "helpers";
@import url('https://fonts.googleapis.com/css?family=Asap:400,500');


body {
  font-family: $font-family;
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-weight: 400;
}

h1 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 6px;

  @media(max-width: $tablet) {
    font-size: 40px;
  }
}

h2 {
  color: $black;
  font-size: 40px;
  font-weight: 400;
}

a {
  color: $black;
  text-decoration: none;
}

.error-msg {
  color: $red;
}

@import "components/button";
@import "components/checkbox";
@import "components/form";
