/*--------------
	COLORS 🎨
----------------*/
$black: #000000;
$red: #d8203b;
$gray: #d2d2d2;
$white:#ffffff;
/*--------------
	GRID 📝
----------------*/
$desktop-l: 1440px;
$desktop: 1200px;
$tablet: 768px;
$mobile: 576px;

/*--------------
	FONTS 🖨
----------------*/
$font-family: 'Asap', sans-serif;

/*--------------
	OTHER ⁉️
----------------*/
$border-radius:10px;
$shadow:0 20px 50px rgba(210, 210, 210, 0.3);
