psycopg2-binary
gunicorn
djangorestframework
django-solo
django-ckeditor
celery
premailer
redis
Django
Pillow
django-cors-headers
git+https://github.com/CornerCaseTechnologies/django-tabbed-admin.git
djangorestframework-simplejwt
django-storages
django-amazon-ses
django-watchman
drf-spectacular
typing-extensions
dj-database-url
model-bakery
pytest
pytest-cov
pytest-django
pytest-xdist
django-cleanup
sentry-sdk
parameterized
