/* The container */
.checkmark {
  color: $black;
  font-size: 18px;
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;

  &:hover &__input {
    background-color: $black;
  }

  input {
    display: none;

    &:checked~.checkmark__input {
      background-color: $black;

      &:after {
        opacity: 1;
        animation: bounceIn .5s ease-in-out
      }
    }
  }

  &__input {
    transition: background-color .3s;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    height: 20px;
    width: 20px;
    box-shadow: 0 0 0 1pt $black;

    &:after {
      content: "";
      position: absolute;
      opacity: 0;
      transition: opacity .3s;
      left: 7px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}


@keyframes bounceIn {
  0% {
    transform: scale(0) rotate(45deg);
  }

  80% {
    transform: scale(1.1) rotate(45deg);
  }

  100% {
    transform: scale(1) rotate(45deg);
  }
}
